{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'LibrarySys/css/vendor/bootstrap.min.css' %}">
    <title>detail</title>
    <style>
        body {
            margin-top: 50px;

        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top nav-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'LibrarySys:book_page' %}"><h3>图书管理系统</h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'LibrarySys:book_page' %}">书籍</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home_page' %}">个人中心</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            书籍分类
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Linux</a>
                            <a class="dropdown-item" href="#">PHP</a>
                            <a class="dropdown-item" href="#">....</a>
                            <a class="dropdown-item" href="#">....</a>
                            <a class="dropdown-item" href="#">....</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="container py-md-5 py-3">
    <section>
        <div class="row">
            <div class="col-md-5">
                <h4>当前借到的书</h4>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">书籍名称</th>
                        <th scope="col">归还时间</th>
                        <th scope="col">当前状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if borrows|length %}
                        {% for borrow in borrows %}
                    <tr class="table-success">
                        <th scope="row">{{ borrow.message_id }}</th>
                        <td>{{ borrow.book_name }}</td>
                        <td>{{ borrow.return_time }}</td>
                        <td>{{ borrow.book_status }}</td>
                    </tr>
                        {% endfor %}
                    {% else %}
                    <tr class="table-success">
                        <th scope="row"> </th>
                        <td>未借阅</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    {% endif %}

                    </tbody>
                </table>
            </div>
            <div class="offset-md-1 col d-sm-block d-none"><h5>使用说明</h5>
                <span class="text-info">xxxxxxxxxxxxxxxxxxxxxxx</span>
            </div>
        </div>
    </section>
    <hr>
    <section>
        <!--对该部分进行填充处理,拥有的-->
        <h4>收到的请求</h4>
        {% if rec_reqs|length < 1 %}
        <h5 class="text-info text-center">暂无</h5>
        <br>
        {% else %}
            {% for book_rec in rec_reqs %}
        <h5 class="text-info text-center">{{ book_rec.book_name }}</h5>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-primary">有效的请求</h5>
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col">请求</th>
                        <th scope="col">请求者</th>
                        <th scope="col">联系方式</th>
                        <th scope="col">创建时间</th>
                        <th scope="col">过期时间</th>
                        <th scope="col">同意</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if book_rec.rec_worked_req|length < 1 %}
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td>暂无有效请求</td>
                        <td></td>
                        <td></td>
                        <td><button class="btn btn-primary">同意</button></td>
                    </tr>
                    {% else %}
                        {% for rec in book_rec.rec_worked_req %}
                    <tr id="{{ rec.message_num }}">
                        <th scope="row">{{ rec.message_num }}</th>
                        <td>{{ rec.requester }}</td>
                        <td>{{ rec.contact }}</td>
                        <td>{{ rec.cretime }}</td>
                        <td>{{ rec.expiry_time }}</td>
                        <td><button class="btn btn-primary" id="{{ rec.user_data_id }}">同意</button></td>
                    </tr>
                        {% endfor %}
                    {% endif %}

                    </tbody>
                </table>
            </div>
            <div class="offset-md-1">
                <h5 class="text-warning">失效的请求</h5>
                <table class="table table-hover table-sm">
                    <thead>

                    <tr>
                        <th scope="col">用户名</th>
                        <th scope="col">联系方式</th>
                        <th scope="col">创建时间</th>
                        <th scope="col">失效时间</th>
                        <th scope="col">失效原因</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if book_rec.rec_unworked_req|length < 1 %}
                    <tr class="table-warning">
                        <td></td>
                        <td>暂无失效请求</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% else %}
                        {% for rec in book_rec.rec_unworked_req %}
                    <tr class="table-warning">
                        <td>{{ rec.requester }}</td>
                        <td>{{ rec.contact }}</td>
                        <td>{{ rec.cretime }}</td>
                        <td>{{ rec.expiry_time }}</td>
                        <td>{{ rec.reason }}</td>
                    </tr>
                        {% endfor %}
                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
            {% endfor %}
        {% endif %}


        <!--end-->
    </section>
    <hr>
    <section>
        <h4>我的请求：</h4><br>
            <div class="col">
                <h5 class="text-primary">有效的请求</h5>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">书名</th>
                        <th scope="col">所有者</th>
                        <th scope="col">所有者联系方式</th>
                        <th scope="col">创建时间</th>
                        <th scope="col">过期时间</th>
                        <th scope="col">状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if worked_req|length < 1 %}
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td>暂无有效的请求</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% else %}
                        {% for req in worked_req %}
                    <tr>
                        <th scope="row">{{ req.book_name }}</th>
                        <td>{{ req.owner }}</td>
                        <td>{{ req.contact }}</td>
                        <td>{{ req.cretime }}</td>
                        <td>{{ req.expiry_time }}</td>
                        <td>{{ req.state }}</td>
                    </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h5 class="text-warning">失效的请求</h5>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">书名</th>
                        <th scope="col">所有者</th>
                        <th scope="col">所有者联系方式</th>
                        <th scope="col">创建时间</th>
                        <th scope="col">过期时间</th>
                        <th scope="col">失效理由</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if unworked_req|length < 1 %}
                    <tr class="table-warning">
                        <th scope="row"></th>
                        <td></td>
                        <td>暂无失效请求</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% else %}
                        {% for unwk in unworked_req %}
                    <tr class="table-warning">
                        <th scope="row">{{ unwk.book_name }}</th>
                        <td>{{ unwk.owner }}</td>
                        <td>{{ unwk.contact }}</td>
                        <td>{{ unwk.cretime }}</td>
                        <td>{{ unwk.expiry_time }}</td>
                        <td>{{ unwk.state }}</td>
                    </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
    </section>
</div>
<script src="{% static 'LibrarySys/scripts/jquery.js' %}"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.3/esm/popper.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>