{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'LibrarySys/css/vendor/bootstrap.min.css' %}">
    <title>book</title>
    <style>
        body {
            margin-top: 50px;
            background: #eee
            url(http://subtlepatterns.com/patterns/sativa.png);
        }
		.one {
            width: 300px;
            overflow: hidden;/*超出部分隐藏*/
            white-space: nowrap;/*不换行*/
            text-overflow:ellipsis;/*超出部分文字以...显示*/
        }
        .two {
            overflow:hidden;

            text-overflow:ellipsis;

            display:-webkit-box;

            -webkit-box-orient:vertical;

            -webkit-line-clamp:2;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top nav-top">
        <div class="container">
            <a class="navbar-brand" href="#"><h3>图书管理系统</h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">书籍</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">个人中心</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            书籍分类
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Linux</a>
                            <a class="dropdown-item" href="#">PHP</a>
                            <a class="dropdown-item" href="#">....</a>
                            <a class="dropdown-item" href="#">....</a>
                            <a class="dropdown-item" href="#">....</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<div class="container py-md-5 py-3">
    <div class="row flex-xl-nowrap">
        <div class="row mb-2">
            <!--循环这个元素-->
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-260">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0 one">
                            <a class="text-dark" href="#">Linux Shell脚本攻略aaaaaaaaaaaaaaaa</a>
                        </h3>
                        <div class="mb-1 text-muted one">作者 ：Sarath Lakshman</div>
                        <div class="mb-1 text-muted one">译者 ：门佳</div>
                        <div class="mb-1 text-muted">ISBN : 9787115264725</div>
                        <div class="mb-1 text-muted">出版社：人民邮电出版社</div>
                        <p class="card-text mb-auto two">简介：暂无简介 <br><br></p>
                        <button type="button" class="btn btn-outline-primary">详情</button>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block"  alt="书籍" style="width: 200px; height: 275px;" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1532063370240&di=333b4dd24e984d3e403fdd8668f120f8&imgtype=0&src=http%3A%2F%2Fimg37.ddimg.cn%2F35%2F1%2F1248303707-3_w_2.jpg">
                </div>
            </div>
            <!--end-->
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-260">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Linux Shell脚本攻略</a>
                        </h3>
                        <div class="mb-1 text-muted">作者 ：Sarath Lakshman</div>
                        <div class="mb-1 text-muted">译者 ：门佳</div>
                        <div class="mb-1 text-muted">ISBN : 9787115264725</div>
                        <div class="mb-1 text-muted">出版社：人民邮电出版社</div>
                        <p class="card-text mb-auto">简介：暂无简介 <br><br></p>
                        <button type="button" class="btn btn-outline-primary">详情</button>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block"  alt="书籍" style="width: 200px; height: 275px;" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1532063370240&di=333b4dd24e984d3e403fdd8668f120f8&imgtype=0&src=http%3A%2F%2Fimg37.ddimg.cn%2F35%2F1%2F1248303707-3_w_2.jpg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-260">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Linux Shell脚本攻略</a>
                        </h3>
                        <div class="mb-1 text-muted">作者 ：Sarath Lakshman</div>
                        <div class="mb-1 text-muted">译者 ：门佳</div>
                        <div class="mb-1 text-muted">ISBN : 9787115264725</div>
                        <div class="mb-1 text-muted">出版社：人民邮电出版社</div>
                        <p class="card-text mb-auto">简介：暂无简介 <br><br></p>
                        <button type="button" class="btn btn-outline-primary">详情</button>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block"  alt="书籍" style="width: 200px; height: 275px;" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1532063370240&di=333b4dd24e984d3e403fdd8668f120f8&imgtype=0&src=http%3A%2F%2Fimg37.ddimg.cn%2F35%2F1%2F1248303707-3_w_2.jpg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-260">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Linux Shell脚本攻略</a>
                        </h3>
                        <div class="mb-1 text-muted">作者 ：Sarath Lakshman</div>
                        <div class="mb-1 text-muted">译者 ：门佳</div>
                        <div class="mb-1 text-muted">ISBN : 9787115264725</div>
                        <div class="mb-1 text-muted">出版社：人民邮电出版社</div>
                        <p class="card-text mb-auto">简介：暂无简介 <br><br></p>
                        <button type="button" class="btn btn-outline-primary">详情</button>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block"  alt="书籍" style="width: 200px; height: 275px;" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1532063370240&di=333b4dd24e984d3e403fdd8668f120f8&imgtype=0&src=http%3A%2F%2Fimg37.ddimg.cn%2F35%2F1%2F1248303707-3_w_2.jpg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-260">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Linux Shell脚本攻略</a>
                        </h3>
                        <div class="mb-1 text-muted">作者 ：Sarath Lakshman</div>
                        <div class="mb-1 text-muted">译者 ：门佳</div>
                        <div class="mb-1 text-muted">ISBN : 9787115264725</div>
                        <div class="mb-1 text-muted">出版社：人民邮电出版社</div>
                        <p class="card-text mb-auto">简介：暂无简介 <br><br></p>
                        <button type="button" class="btn btn-outline-primary">详情</button>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block"  alt="书籍" style="width: 200px; height: 275px;" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1532063370240&di=333b4dd24e984d3e403fdd8668f120f8&imgtype=0&src=http%3A%2F%2Fimg37.ddimg.cn%2F35%2F1%2F1248303707-3_w_2.jpg">
                </div>
            </div>

        </div>
    </div>
</div>


<script src="{% static 'LibrarySys/scripts/jquery.js' %}"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.3/esm/popper.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>
